<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.witineo.healthapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.DISABLE_KEYGUARD"
        tools:ignore="WrongManifestParent" />
    <uses-permission
        android:name="android.permission.USE_FULL_SCREEN_INTENT"
        tools:ignore="WrongManifestParent" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Healthapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@drawable/ic_launcher_background"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ClassList"
            android:label="@string/title_activity_class_list"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".video1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video1"
            android:screenOrientation="landscape"
            android:theme="@drawable/ic_launcher_background"></activity>
        <activity
            android:name=".Initial"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Video Player"
            android:theme="@drawable/ic_launcher_background">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@drawable/download"
            tools:ignore="WrongManifestParent"></activity>
    </application>

</manifest>