<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.witineo.healthapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Healthapp"
        android:theme="@drawable/ic_launcher_background"
        android:supportsRtl="true"

        >

        <!-- This name is resolved to com.example.myapp.MainActivity
             based upon the package attribute android:theme="AppTheme" -->
        <activity
            android:name=".MainActivity"
            android:theme="@drawable/download">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity" />
    </application>
</manifest>